.product-card-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 350px;
  position: relative;
  width: 100%;

  img {
    height: 95%;
    margin-bottom: 5px;
    object-fit: cover;
    width: 100%;
  }

  button {
    display: none;
    opacity: 0.7;
    position: absolute;
    top: 255px;
    width: 80%;
  }

  &:hover {
    img {
      opacity: 0.8;
    }

    button {
      display: flex;
      opacity: 0.85;
    }
  }

  .footer {
    display: flex;
    font-size: 18px;
    height: 5%;
    justify-content: space-between;
    width: 100%;

    .name {
      margin-bottom: 15px;
      width: 90%;
    }

    .price {
      width: 10%;
    }
  }
}
